<% provide(:title, "About") %>
<div class="innerpage">
  <h1>Income & Expenditure Capture Service</h1>
<h2>About this site</h2>
<p>General bank information here.....</p>

<p>We have asked you to provide details of your income and expenditure so that we can better understand your ability to repay your mortgage.  Once you sign in, you can save your information, and return at any time to complete the form.  You can submit the form when you are ready.</p>

<p>If you need assistance completing the form, please click on the help option in the menu at any time</p>

<%= link_to 'back', :back %>

</div>