<% provide(:title, "Help") %>
<div>
  <h1>Income & Expenditure Capture Service</h1>
  <h2>Assistance Completing Your Form</h2>

<p>If you require assistance completing your form, we can do this together over the phone.  Please contact us on xxxxxxxxx, quoting your mortgage reference number.</p>

<p>If you would like to provide extra information in your form, there is a 'Notes' section for you to complete before you submit you details. </p>

<%= link_to 'back', :back%>

</div>