<!Doctype>
<HTML>
  <Head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>
  
<% provide(:title, "Home") %>

<h1>Income & Expenditure Capture Service</h1>

<h2>Welcome to our income and expenditure capture portal.</h2>
<p>We have asked you to provide details of your income and expenditure so that we can better understand your ability to repay your mortgage.  Once you sign in, you can save your information, and return at any time to complete the form.  You can submit the form when you are ready.</p>

<p>If you need assistance completing the form, please click on the help option at any time</p>

<div class="mybutton"><%= link_to 'Log In', login_path%></h2>

