<% provide(:title, "New User") %>
<div>
<h1>Administration: Income & Expentidure Portal</h1>
<h3>New user details:</h3>
  
<%= render 'usermessages' %>

<%= render 'userform' %>

<%= link_to 'Back', :back %>
</div>