<% provide(:title, "Users") %>

  <h3>User:</h3>
<p>
  <strong>Name</strong>: <%= @user.first_name %> <%= @user.last_name %> </br>
<strong>Mortage Reference Number:</strong> <%= @user.mortgage_reference_num %>
</p>


