<% provide(:title, "Edit Your Data") %>
<div class="innerpage">
  <h3>Here is the saved data, for XXXX XXXX (enter user.first).  Remember to click save to store your progress.</h3>

  <%= render 'incomeform', url: income_path(@income), method: :patch %>

  <%= link_to 'Back', :back %>

</div>