<div>
  <% if logged_in? %>
  <p> You are logged in as: <%= @current_user.first_name %> <%= @current_user.last_name %> </br>
  Mortgage Reference Number: <%= @current_user.mortgage_reference_num %></br>
<%= link_to 'Log Out', logout_path, method: :delete %></p>

<% end %>