<div id="greyrow">
</div>
<div id="snowwhite">
  <div id="logo">
      
  </div>
    
  <ul class="linkblock">
      <li id="navlink"><%= link_to 'Home', root_path %></li>
      <li id="navlink"><%= link_to 'About', static_pages_about_path %></li>
      <li id="navlink"><%= link_to 'Help', static_pages_help_path %></li>
    </ul>
</div>
   



