<div id="greyrow">
</div>
<div id="snowwhite">
  <div id="logo">
      <a href="http://www.hsbc.co.uk"><img src="http://www.hsbc.co.uk/1/PA_esf-ca-app-content/content/pws/theme/personal_general/images/layout/hsbc-logo.gif"></a>
  </div>
    
  <ul class="linkblock">
      <li id="navlink"><%= link_to 'Home', root_path %></li>
      <li id="navlink"><%= link_to 'About', static_pages_about_path %></li>
      <li id="navlink"><%= link_to 'Help', static_pages_help_path %></li>
    </ul>
</div>
   



